{% extends './base.html' %}
{% block title %}Update-{{todo.item}}{% endblock %}
</head>

        {% block content %}

            <main>
                <div class="center">
                    <section class="accept-box">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" name="text" id="text" value="{{todo.item}}" required autocomplete="off" >
                            <button type="submit">update</button>

                        </form>
                    </section>
                    
                </div>
            </main>
        {% endblock content %}
