{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
        <header>
            <div class="container">
                <div class="logo-text">
                    <a href=""><h2>Todo App</h2></a>
                </div>
                <ul>
                    <li><a href="" class="active">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="">Signup</a></li>
                </ul>
            </div>
        </header>

        <main>
            <div class="center">
                <section class="accept-box">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="text" id="text" required autocomplete="off" placeholder="Enter to-do item">
                        <button type="submit">Add</button>

                    </form>
                </section>
                <div id="todos">
                    <table>
                        <tbody>
                            {% for todo in todos reversed %}
                                <tr>
                                    <!-- <td>1</td> -->
                                    {% if todo.done %}                                    
                                        <td><strike>{{todo.item}}</strike></td>
                                    {% else %}                    
                                        <td>{{todo.item}}</td>
                                    {% endif %}
                                    <div class="btns">
                                        <td><a href="{% url 'check' todo.id %}"><button class="btn check-btn">Check</button></a></td>
                                        <td><a href="{% url 'delete' todo.id %}"><button  class="btn delete-btn">Delete</button></a></td>
                                    </div>
                                </tr>
                            {% empty %}
                                <h1 id="no-todo-text">There are no todo items here, add some...</h1>
                            {% endfor %}
            
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <h4>
                    Copyright &copy; 2022
                </h4>
            </div>
        </footer>

</body>
</html>